*~
drawing-server/.idea
drawing-server/*.iml
drawing-server/out
/bin/
.DS_Store
.classpath
.metadata/
.project
RemoteSystemsTempFiles/
drawing-server/.DS_Store
drawing-server/src/.DS_Store
.idea
*iml
out
client/bin/
server-doc/
client-doc/
Exemple_doc.cpp
drawing-server/src/META-INF/
*.gch
